@use "@/styles/mixins" as *;
@use "@/styles/container" as *;

.inventory-details {
	@extend .container;

	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	background-color: white;

	height: 100vh;
	padding: 1rem;

	@include media-breakpoint-up($md) {
		height: 100%;
		border-radius: 1rem;
	}

	@include media-breakpoint-up($md) {
		justify-content: center;
		height: initial;
	}

	&__header {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__body {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		align-items: flex-start;
		gap: 3rem;

		@include media-breakpoint-up($md) {
			flex-direction: row;
		}
	}

	&__body-details {
		flex: 1;
		width: 100%;
	}

	&__body-image-container {
		display: flex;
		flex: 1;
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		gap: 1rem;

		border: 1px solid red;

		@include media-breakpoint-up($md) {
			align-items: flex-start;
		}
	}

	&__body-image {
	}

	&__body-qr-code-container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__body-qr-code {
		aspect-ratio: 1;
		width: 100%;
		max-width: 200px;

		& > * {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__cta {
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
	}
}
