@use "@/styles/container" as *;

.home {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 75vh;
		min-width: 75vw;

		gap: 1rem;
		&___body-container {
			@extend .container;

			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}
	}
}
