.so-inventory-admin-table {
	&__header-container {
		position: relative;
		display: flex;
		justify-content: space-between;
	}

	&__resizer {
		position: absolute;
		height: 100%;
		width: 4px;
		top: 0;
		right: 0;

		&:hover {
			cursor: pointer;
			background-color: lightgray;
		}

		&:active {
			opacity: 1;
			background-color: gray;
		}
	}

	&__inventory-detail {
		cursor: pointer;
	}

	&__modify {
		display: flex;
		justify-content: center;
		gap: 0.5rem;

		&--edit {
			cursor: pointer;

			&:hover {
				filter: brightness(0) saturate(100%) invert(25%) sepia(45%) saturate(13%) hue-rotate(347deg)
					brightness(95%) contrast(87%);
			}
			&:active {
				filter: blur(0.5px);
			}
		}
	}
}
